@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Wendy+One&display=swap');

:root {
  --color-primary: #FF6464;
  --color-secondary: #FFAA64;
  --color-tertiary: #FFF5A5;
  --color-accent: #FF8264;
  --text-black: #333333;
  --text-white: #FFFFFF;
}

/* * Overrides */
html, body {
  height: 100%;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-tertiary);
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

/* * Typography */
h1, h2, h3, h4 {
  color: var(--color-primary);
  font-family: 'Wendy One', sans-serif;
  font-weight: 500;
}

/* * Inputs */
input.transparent {
  border: none;
  background: none;
  color: var(--color-primary);
  text-align: center;
  font-family: 'Wendy One', sans-serif;
  font-size: 2.25rem;
  padding: 1rem 0 1rem 0;
  width: 100%;
}

input.transparent:focus {
  outline: none;
}

input.font-small {
  font-size: 1.5rem;
}

textarea.transparent {
  border: none;
  background: none;
  color: var(--text-black);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

textarea.transparent:focus {
  outline: none;
}

/* * Buttons */
button.transparent {
  border: none;
  background: none;
  color: var(--color-secondary);
  font-family: 'Wendy One', sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  padding: 0;
  cursor: pointer;
}

button.transparent:focus {
  outline: none;
}

button.filled {
  background: var(--color-secondary);
  color: var(--text-white);
  border: 1px solid var(--color-secondary);
  border-radius: 6px;
  width: 256px;
  height: 48px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
}